
/*General Styling*/
body{
  background-color: #333333 !important;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  margin:0 auto;
}
a:hover {
  text-decoration: none;
 }
a{
}
.navMenu a{
  color:#56CCF2 !important;
}
.navMenu{
  color:#56CCF2 !important;
}

.title-blk{
  width:100%;
  text-align:center;

}
h2.title{
  margin: 20px 0;
  color:#EEE !important;
}
.main{
  color:#F2F2F2;
  font-family: 'Quicksand', sans-serif;
}

/*About us*/
.about-text{
  margin-top:-20px;
  padding:5% 10%;
}

/*Carousel Componet*/
.carousel-conatiner{
  margin:20px auto;
}
.carousel-img{
  height:20%;
  max-height:512px;
}

/*getInTouch Form*/
.form{
  width:100%;
}
.carousel .slide .legend {
  background: rgba(0, 0, 0, 0.6) !important;
}

/*Info*/
.link{
  color:rgb(120, 133, 168);
}
.map{
  color:black;
}
.maps{
  margin:auto;
}
h4{
  margin-top: .5rem;
}
h1{
  margin:0;
  padding:20px;
}
.freebirdAccentBackground{
      background-color:#fff;
}
